*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root{
    --ff-roboto: 'Roboto', sans-serif;
    --base-color: 194;

    /*--bg-button: hsl(var(--base-color), 100%, 25%, 0.42);*/
    --bg-button: hsl(241, 28%, 65%);
    /*--bg-primary-light: hsl(var(--base-color), 100%, 35%, 0.13);*/ 
    --bg-primary-light: hsl(242, 40%, 73%, 0.20);
    --fc-primary-color: hsl(var(--base-color), 100%, 63%);
    --text-color: #ffffff;

    font-size: 62.5%;
}


body{
    overflow: hidden;
    color: var(--text-color);
    font-family: var(--ff-roboto);

    display: grid;
    min-height: 100vh;

    background: linear-gradient(to bottom, #f1f4f9,#dff1ff);
}

section .color{
    position: absolute;
    /*Efeito de esfumaçado no fundo do projeto em cada um dos 3 quadrados na página*/
    filter: blur(300px)
}

section .color:nth-child(1){
    width: 50rem;
    height: 50rem;
    background: #2E4159;

    top: -10rem;
    left: 52rem;
}

section .color:nth-child(2){
    width: 50rem;
    height: 50rem;
    background: #262626;

    left: 10rem;
    bottom: -18rem;
}

section .color:nth-child(3){
    width: 38rem;
    height: 38rem;
    background: #4F4D8C;

    right: 20rem;
    bottom: 5rem;
}

section .color:nth-child(4){
    width: 30rem;
    height: 30rem;
    background: #5F5DA6;

    right: 10rem;
    bottom: 65rem;
}

main{
    position: relative;
    justify-self: center; /*Eixo X*/
    align-self: end; /*Eixo Y*/
}

main .square{
    position: absolute;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
     
    animation: animate 10s linear infinite;
    /* i foi definido no html ao lado do elemento square "--i*/
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate
{
    0%,100%
    {
        transform: translateY(-45px);
    }
    50%
    {
        transform: translateY(45px);
    }
}

main .square:nth-child(1){
    top: -5rem;
    right: -6rem;
    width: 10rem;
    height: 10rem;
    z-index: 0;
}

main .square:nth-child(2){
    top: 15rem;
    left: -10rem;
    width: 12rem;
    height: 12rem;
    /*Colocar na frente*/
    z-index: 0;
}

main .square:nth-child(3){
    bottom: 5rem;
    right: -6rem;
    width: 8rem;
    height: 8rem;
    /*Colocar na frente*/
    z-index: 0;
}

main .square:nth-child(4){
    bottom: -5.5rem;
    left: 10rem;
    width: 5.3rem;
    height: 5.3rem;
}

main .square:nth-child(5){
    top: -8rem;
    left: 14rem;
    width: 6rem;
    height: 6rem;
}

main .container{
    width: 40rem;
    min-height: 40rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    /*Efeito de "vidro"*/
    background: rgba(255,255,255,0.15);
    border-radius: 30px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.13);
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button svg{
    width: clamp(3.2rem, 2rem + 22vw, 6.4rem);
}

/*Modificando rapidamente a cor dos botões em svg*/
.play svg path,
.pause svg path,
.sound-on svg path{
    fill: var(--bg-button);
}


.hide{
    display: none;
}

#timer{
    font-size: clamp(5rem, 5rem + 10vw, 11rem);
    font-weight: 200;
    letter-spacing: 8px;

    /*Juntando os elementos <span>*/
    display: flex;

    margin-bottom: 2rem;
}

#controls{
    background-color: var(--bg-primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    border-radius: 9999px;

    width: clamp(10rem, 10rem + 30vw, 22.8rem);
    /*vw para mudar conforme a largura (viewport width)*/
    height: clamp(8rem, 1rem + 6vw, 10.8rem);
}


footer{
    justify-self: end; /*Eixo X*/
    align-self: end; /*Eixo Y*/

    padding: 0 4rem 3.2rem 0;
}